.organization-banner {
  background-color: #3c3b6e;
}
.discussion-banner {
  background-color: #3c3b6e;
}
.showBody {
  min-height: 50vh;
}

.suggested-groups {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.bg-card {
  background-color: #fff;
  color: #3c3b6e;
}
.suggested-groups-span {
  margin: 7px;
}
.showLinks {
  color: #b22234;
}
.descripto {
  background: transparent !important;
  z-index: 1;
  min-height: 50vh;
}
.orgDisplay {
  height: 30vh;
  width: 100%;
}
.divTopOrganization {
  height: 50vh;
}
.divBottomOrganization {
  height: 50vh;
}


/*        User details  **/
.our-team {
  padding: 20px 0 20px;
  margin-bottom: 30px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #3c3b6e;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3c3b6e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #fff;
  transform: scale(0.7);
}

.our-team .title {
  font-size: 15px;
  color: #4e5052;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li i:hover {
  color: #b22234;
}

.titlesh4 {
  color: #3c3b6e;
}

.conversationDiv:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
