.organization-banner{
    background-color: #3C3B6E;
}
.suggested-groups{
    overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.suggested-groups-span{
    margin: 7px;
}

.showLinks{
    color: #B22234;
}
.showBody{
    min-height: 80vh;
}